@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* shared style */
 .mx-width{
    max-width: 1440px;
    margin: 0 auto;
 }
.dark-1{
    color: rgba(19, 19, 19, 1);
}
.dark-2{
    color: rgba(66, 66, 66, 1);
}
.dark-3{
    color: rgba(114, 114, 114, 1);
}
.primary-bg{
    background-color: #FFF4E7;
}
.d-flex{
    display: flex;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.justify-content-between{
    justify-content: space-between;
}
.center{
    text-align: center;
}
.btn{
    background-color: #FF900E;
    padding: 20px 24px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    color: white;
    margin-top: 32px ;
    margin-bottom: 50px;

}

/* header */
header{
    padding-top: 30px;

}
nav{
    align-items: center;
}
.logo{
    font-size: 3rem;
    font-weight: bold;
}
nav li a{
    margin-right: 60px;
    color: rgba(66, 66, 66, 1);
}

/* banner */
.banner-content{
    max-width: 861px;
    margin: 0px auto;
}
.banner-title{
    font-size: 4rem;
}
.banner-description{
    font-size: 1rem;
    line-height: 26px;
    padding-top: 20px;
}
.banner-img{
    width: 100%;
}
/* fearute */
.feature{
    margin-top: 100px;
    align-items: center;
}
.feature-img-collumn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.feature-content-column{
    width: 540px;
    margin: 0 auto;
}
.feature-content-column .feature-title{
   font-size: 2.8rem;
   color: ;
}
.feature-content-column .title-feature-gray{
   font-weight: 400;
}
.feature-content-column .title-feature-tomato{
   color:#FF900E;
}

/* responsive */
@media screen and (max-width:576px){
    nav{
        flex-direction: column;
      
    }
    nav ul{
        flex-direction: column;
    }
    nav ul li{
       margin-bottom: 20px;
    }
}
@media screen and (min-width:577px)  and (max-width:992px){
    nav .logo{
        font-size: 2rem;
        padding-left: 20px;
    }
    nav li a{
        margin-right: 30px;
    }
    .banner-description{
       margin-top: -50px;
       padding: 0 50px;
    }
    
}
@media screen and  (min-width:992px) and (max-width:1024px
) {
    nav .logo{
        font-size: 2rem;
        padding-left: 20px;
    }
    nav li a{
        margin-right: 30px;
    }
    .banner-description{
       margin-top: -50px;
       padding: 0 50px;
    }
    
}

